logs
.history
innoOut
.vscode


# Commons | CredProvider | SystemService
bin/
obj/
/packages/
/_ReSharper.Caches/
backup/
riderModule.iml
SystemService/config
.vs
.idea
Sparker.Server.exe
Sparker.UserService.exe
GenBase
*.DotSettings.user
